.wrapper {
  width: 100%;
  position: relative;
  min-height: 500px;
  background: #37415f;
  background: linear-gradient(0deg, #1e325f, #2d4569);
}

#scrollDown {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  margin-left: -25px;
  animation: scroll 2s infinite normal;
  z-index: 11;
}
#scrollDown path {
  width: 100%;
}

section.hero {
  max-height: 590px;
}

.codeBG {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
}

.codeBG div {
  position: absolute;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  color: #3d5688;
  font-size: 6rem;
  font-family: consolas;
  width: 100%;
}

.codeBG div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: bg 10s linear infinite;
}

.codeBG div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: bg 7s linear infinite;
}

.codeBG div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: bg 9s linear infinite;
}

.codeBG div:nth-child(4) {
  top: 46%;
  left: 60%;
  animation: bg 10s linear infinite;
}

.codeBG div:nth-child(5) {
  top: 60%;
  left: 10%;
  animation: bg 6s linear infinite;
}

.codeBG div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: bg 12s linear infinite;
}

.codeBG div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: bg 15s linear infinite;
}

.codeBG div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: bg 16s linear infinite;
}

.codeBG div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: bg 9s linear infinite;
}

.codeBG div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: bg 5s linear infinite;
}

/* Animations */

@keyframes bg {
  0% {
    transform: scale(0) translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translate(-400px, -50px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  50% {
    transform: translateY(0px);
    opacity: 0.8;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
