@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap');

* {
  font-family: 'DM Mono', monospace;
}

header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

nav {
  max-width: 1100px;
  margin: auto;
}

.container {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

li.nav-item {
  margin-right: 25px;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
}