@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;600&display=swap');

* {
  font-family: 'Mukta', sans-serif;
}

header {
  z-index: 2;
  width: 100%;
  background-color: #36415f;
  position: relative;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 28px;
  color: #374b82;
}

p {
  color: #5a6682;
  font-size: 19px;
  line-height: 1.7;
}

.topNav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title.container {
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  margin: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

li.nav-item {
  margin-right: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

a.button {
  border: 1px solid #374b82;
  display: block;
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 28px;
  text-decoration: none;
  color: #374b82;
  margin-top: 40px;
  font-weight: 600;
  font-size: 19px;
}

a.button:hover {
  background-color: #253147;
  color: #fff;
}

footer {
  background-color: #232f48;
  color: #939bad;
  padding: 40px;
  text-align: center;
}

footer .footerLogo {
  mix-blend-mode: soft-light;
}